<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <%= stylesheet_link_tag 'background.css' %>  
    <%= javascript_pack_tag 'my_js'%>
</head>
<body>
<h1 class="title">  Tu correo ha sido confirmado!</h1>
<p class="title">Para acceder al inicio, presiona el siguiente  <%= link_to 'enlace', root_path %> </p>
</body>

<%= javascript_pack_tag 'my_js'%>
