<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'index.css' %> 
    
    <%# <link
      rel="icon"
      href="https://img.icons8.com/fluent/48/000000/twitter.png"
    /> %>
    <title>Twitter. It's what's happening / Twitter</title>
  </head>
  <body>
    <header>
      <form class="header">
        <div class="login">
          <label class="label-placeholder">Phone, email, or username</label>
          <input
            class="login-box"
            type="text"
            id="name"
            name="name"
            size="23"
          />
        </div>
        <div class="login pass">
          <label class="label-placeholder">Password</label>
          <input
            class="login-box"
            type="text"
            id="pass"
            name="pass"
            size="23"
          />
          <div class="forgot-father">
            <span id="forgot-pass">Forgot Password?</span>
          </div>
        </div>
        <div class="button-login-ft">
          <button id="button-login" type="button"><b>Log in</b></button>
        </div>
      </form>
    </header>
    <section class="section">
      <form class="form-section">
        <img id="twitter-img" src="/images/twitter-48.png" />
        <h2 id="content-text">
          See what's happening in <br />the world right now
        </h2>
        <h4 class="white">Join Twitter today.</h4>
        <button id="button-login-signup" type="button"><b>Sign up</b></button>
        <button id="button-login-section" type="button"><b>Log in</b></button>
      </form>
    </section>
    <footer class="footer">
      <div class="footer-child">
        <div class="info">About</div>
        <div class="info">Help center</div>
        <div class="info">Terms</div>
        <div class="info">Privacy policy</div>
        <div class="info">Cookies</div>
        <div class="info">Ads info</div>
        <div class="info">Blog</div>
        <div class="info">Status</div>
        <div class="info">Jobs</div>
        <div class="info">Brand</div>
        <div class="info">Advertise</div>
        <div class="info">Marketing</div>
        <div class="info">Businesses</div>
        <div class="info">Developers</div>
        <div class="info">Directory</div>
        <div class="info">Settings</div>
        <div class="info">2020 Twitter, Inc.</div>
      </div>
    </footer>
  </body>
</html>