<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <%# <%= stylesheet_link_tag 'index.css' %>  %>
    <%# <link
      rel="icon"
      href="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/Twitter_NEW.png"
    /> %>

</head>

<body>
    <div class="formulario">
        <%= form_for :session, url: sessions_path, class: 'contenedor' do |f| %>
            <div class="div__input">
                <div class="contraseña">
                    <span class="label1">Phone, email or username:</span><br>
                    <input type="text" id="user" name="user" class="form__input"><br>
                </div>
            </div>
            <div class="div__input">
                <div class="contraseña">
                    <span class="label1">Password:</span><br>
                    <input type="password" id="contraseña" name="contraseña" class="form__input"><br>
                    <!--<label for="contraseña">Forgot password?</label>-->
                </div>
                <span class="contraseñaolvidada">Forgot password?</span>
            </div>
            <button type="button" id="btnlogin">Log in</button>
        <% end %>
    </div>
    <div class="form_principal">
        <img src="/twitter.png"><br>
        <div id="centraltext">
            <span>See what's hapenning in the world right now</span><br>
        </div>
        <div id="secundarytext">
            <span>Join twitter today.</span><br>
        </div>
        <button class="button button2">Sign up</button><br>
        <button class="button button1">Log in</button>
    </div>
    <div class="piedepagina">
        <footer>
            <span>About</span>
            <span>Help Center</span>
            <span>Terms</span>
            <span>Privacy policy</span>
            <span>Cookies</span>
            <span>Ads info</span>
            <span>Blog</span>
            <span>Status</span>
            <span>Jobs</span>
            <span>Brand</span>
            <span>Advertise</span>
            <span>Marketing</span>
            <span>Businesses</span>
            <span>Developers</span>
            <span>Directory</span>
            <span>Settings</span>
            <span>&copy; 2020 Twitter, Inc.</span>
        </footer>
    </div>
</body>

</html>
    
    
    
    
    