<head>
<%= stylesheet_link_tag 'landingpage.css' %> 

</head>

<div class="column is-2">
	<nav class="panel">
		<article class="media">
			<div class="media-left">
				<i class="large material-icons">home</i>
			</div>
			<div class="media-content">
				<div class="content">
					<p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Inicio</p>
				</div>
			</div>
		</article>
		<article class="media">
			<div class="media-left">
			<i class="large material-icons">explore</i>
			</div>
			<div class="media-content">
				<div class="content">
				<p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Explorar</p>
				</div>
			</div>
		</article>
		<article class="media">
			<div class="media-left">
				<i class="large material-icons">notifications</i>
			</div>
			<div class="media-content">
				<div class="content">
					<p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Notificaciones</p>
				</div>
			</div>
		</article>
		<article class="media">
			<div class="media-left">
				<i class="large material-icons">archive</i>
			</div>
			<div class="media-content">
				<div class="content">
					<p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Guardados</p>
				</div>
			</div>
		</article>
		<article class="media">
			<div class="media-left">
				<i class="large material-icons">list</i>
			</div>
			<div class="media-content">
				<div class="content">
				<p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Listas</p>
				</div>
			</div>
		</article>
		<article class="media">
			<div class="media-left">
				<i class="large material-icons">person</i>
			</div>
			<div class="media-content">
				<div class="content">
				<%= link_to 'profile', profile_path, class: "subtitle is-5 has-text-grey-lighter has-text-weight-bold"%>
				
					<%# <p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Perfil</p> %>
				</div>
			</div>
		</article>
		<article class="media">
			<div class="media-left">
				<i class="large material-icons">more</i>
			</div>
			<div class="media-content">
				<div class="content">
					<p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Mas Opciones</p>
				</div>
			</div>
		</article>
	</nav>
</div>