<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://pbs.twimg.com/profile_images/1284197749030887429/7n6w-Urk_400x400.jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Real Madrid</strong>
						<small>@realmadrid</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32 ">
					<img src="https://pbs.twimg.com/profile_images/1291131477162434563/7_CvM9U6_400x400.jpg"> 
					
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>FC Barcelona</strong>
						<small>@FCBarcelona</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://pbs.twimg.com/profile_images/1157313327867092993/a09TxL_1_400x400.jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Cristiano Ronaldo</strong>
						<small>@Cristiano</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>