<head>
<%= stylesheet_link_tag 'landingpage.css' %> 
<%= javascript_pack_tag 'my_js'%>
</head>
<div class="column is-3">
	<nav class="panel derecha">
	<div class="panel-block" style="border-color: #9c9c9c">
		<article class="media">
			<p class="subtitle is-4 has-text-grey-lighter has-text-weight-bold">Who to follow</p>
		</article>
	</div>
	
	<div class="panel-block" style="border-color: #9c9c9c">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://pbs.twimg.com/profile_images/1284197749030887429/7n6w-Urk_400x400.jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong class=" has-text-grey-lighter">Real Madrid</strong>
						<small>@realmadrid</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block" style="border-color: #9c9c9c">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32 ">
					<img src="https://pbs.twimg.com/profile_images/1291131477162434563/7_CvM9U6_400x400.jpg"> 
					
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p class="has-text-grey-lighter">
						<strong class="has-text-grey-lighter">FC Barcelona</strong>
						<small>@FCBarcelona</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block" >
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://pbs.twimg.com/profile_images/1157313327867092993/a09TxL_1_400x400.jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p class=" has-text-grey-lighter">
						<strong class=" has-text-grey-lighter">Cristiano Ronaldo</strong>
						<small>@Cristiano</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>