  
<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<h1 class="title">Editing Tweet</h1>
				<%= render 'form', twitter: @twitter %>
			</div>
		</div>
	</div>
</div>
