
<% if user_signed_in? %>
<section class="section">
  <div class="container">
    <div class="columns">
    
    		<%= render 'tw_profile' %>
         <%= render 'feed' %>
       <%= render 'who-to-follow' %>
            
    </div>
  </div>
</section>
	<% else %>
 <%= render 'loginprofile' %>
  <% end %>