<%= stylesheet_link_tag 'background.css' %> 
<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<h1 class="title">Create a new Tweet</h1>
					<%= render 'form', twitter: @twitter %>
					<%= link_to 'Cancel', twitters_path, class: "button is-dark" %>
			</div>
			
		</div>
	</div>
</div>

