body {
    background-color: #15202b;
    font-family: "system-ui", sans-serif;
    height: 150%;
}

.panel-block {
    background-color: #202e3a;
}

.izquierda {
    background-color: #15202b;
    border: none;
    margin-bottom: 15px;
}

.material-icons {
    color: white;
}

.derecha {
    border-style: outset;
    border-width: 2px;
    border-color: #38444D;
}

.border-section-right {
    border-style: solid;
    border: none;
}