<p>Hello <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar tu contraseña. Si fuiste tu, puedes hacerlo con el siguiente enlace.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no solicitaste esto, por favor ignora este mensaje.</p>
<p>Tu contraseña no cambiará hasta que accedas al link anterior y la cambies.</p>
